.clienteMenuPage {
  background-color: #f3f4ed;
  border-radius: 0;
  color: #112206;
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .Logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: $tercer-color;
  }
  .cuentaBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    background-color: transparent;
    svg {
      width: 30px;
      height: 30px;
      fill: $tercer-color;
    }
  }
  .iconFood1 {
    width: 50px;
    height: 50px;
    display: none;
  }
  .encabezado {
    flex-shrink: 0;
    h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      font-family: "League Spartan", sans-serif;
    }
    .fecha {
      margin-top: 15px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .platos-list {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .loader {
      padding: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 15px;
      img {
        width: 120px;
        height: 120px;
      }
      p {
        margin-top: 10px;
      }
      svg {
        margin-top: 30px;
        width: 120px;
        height: 120px;
        fill: $tercer-color;
      }
    }
    h4 {
      // font-family: 'Cormorant SC', serif;
      font-family: "Lexend", sans-serif;

      border-radius: 20px;
      font-size: 1.7rem;
      font-weight: bold;
    }
    .platos-section {
      p {
        margin: 0;
        padding: 0;
      }
      .plato-item {
        margin-bottom: 10px;
      }
    }
    .btnAgregar {
      border: 0;
      background-color: $otro-color;
      color: white;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 40%;
    }
  }
  .resumen-pedido {
    background-color: $tercer-color;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;
    color: white;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0;
      }
    }
  }
  .aviso {
    background-color: $otro-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    flex-grow: 1;
    color: white;
    height: 200px;

    p {
      font-size: 1.6rem;
      font-weight: bold;
      font-family: "League Spartan", sans-serif;
    }
    a {
      background-color: $tercer-color;
      color: white;
      border: none;
      border-radius: 20px;
      width: 80%;
      padding: 10px 15px;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}

.menuModal {
  .modal-dialog {
    .modal-content {
      background-color: $tercer-color;
      border-radius: 20px;
      color: white;

      .btn-close {
        background-color: transparent;
        color: white;
        fill: white;
        display: none;
      }
      button {
        background-color: $otro-color;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
      }
      .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
      }

      .modal-body {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          border: none;
          border-radius: 20px;
          height: 60px;
          width: 60px;
          text-align: center;
          margin: 0 15px;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield; /* Para Firefox */
        }
        button {
          font-size: 1.5rem;
          color: white;
          font-weight: bold;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
