.clienteHistorialPage {
  min-height: 100vh;
  padding: 15px;
  background-color: $background-color2;
  .loading, .error{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header {
    margin-top: 60px;
    margin-bottom: 30px;
    h2 {
      font-weight: bold;
      color: black;
      text-align: left;
      font-size: 2rem;
    }
  }
  .list-group-item {
    background-color: $tercer-color;
    color: white;
    border: none;
    padding: 30px;
    border-radius: 13% !important;
  }
}
