.clienteMenuPage {
  background-color: #f3f4ed;
  border-radius: 0;
  color: #112206;
  padding-top: 50px;
  .cuentaBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    border: none;
    background-color: transparent;
    svg {
      width: 30px;
      height: 30px;
      fill: $tercer-color;
    }
  }
  .iconFood1 {
    width: 50px;
    height: 50px;
    display: none;
  }
  .encabezado {
    h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      font-family: "League Spartan", sans-serif;
    }
    .fecha {
      margin-top: 15px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .platos-list {
    min-height: 80vh;
    padding: 15px;
    .loader {
      padding: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 15px;
      img {
        width: 120px;
        height: 120px;
      }
      p {
        margin-top: 10px;
      }
      svg {
        margin-top: 30px;
        width: 120px;
        height: 120px;
        fill: $tercer-color;
      }
    }
    h4 {
      margin-top: 30px;
    }
    .platos-section {
      p {
        margin: 0;
        padding: 0;
      }
      .plato-item {
        margin-bottom: 10px;
      }
    }
    .btnAgregar {
      border: 0;
      background-color: $otro-color;
      color: white;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 40%;
    }
  }
  .resumen-pedido {
    background-color: $tercer-color;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;
    color: white;
  }
}
