// _variables.scss
$primary-color: #555555;
$secondary-color: #3c414400;
$yelloww : #e4a323;
$tercer-color: #1a3309;
$alertaColor : #b13440;
$background-color: #262A2C;
$background-color2: #f3f4ed;
$text-color: white;
$otro-color: #963903;
