// _variables.scss
$primary-color: #555555;
$secondary-color: #ba520a;
$yelloww : #fcc354;
$tercer-color: #1a0505;
$alertaColor : #b13440;
$background-color: #23312a;
$text-color: white;
$otro-color: #8f740b;
