// _variables.scss
$primary-color: #555555;
$secondary-color: #3c414400;
$yelloww : #fcc354;
$tercer-color: #1a0505;
$alertaColor : #b13440;
$background-color: #262A2C;
$text-color: white;
$otro-color: #963903;
